@media (max-width: 375px) {
    .flex-container {
      max-width: 375px;
    }
    .burger-menu {
      display: block;
    }
    header {
      max-width: 375px;
    }

    .header{
      padding: 50px 10px;
      height: 500px;
    }

    .header-container {
      padding: 28px 20px 28px 20px;

      height: 350px;
    }

    .header-container-head {
      width: 300px;

      font-size: 20px;
    }

    .header-container-content {
      font-size: 15px;
    }
  
    .links {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      z-index: 1;
    }
  
    .links.show {
      display: flex;
    }
  
    .links li {
      margin: 10px;
      text-align: center;
    }

    .features {
      max-width: 375px;
    }

    .features-head {
      padding-top: 30px;
    }

    .feature-blocks {
      width: 305px;
      grid-template-columns: 305px;
    }

    .block {
      margin: 0;
    }

    .phone-blocks {
      width: 305px;
      margin-top: 50px;
      grid-template-columns: 305px;
    }

    .phone-block {
      margin-top: 30px;
    }


    .about img {
      display: none;
    }

    .about-block {
      padding: 10px 20px;
      height: 530px;
    }

    .about-block-head {
      font-size: 30px
    }

    footer {
      height: 400px;
    }

    .footer-links {
      display: none;
    }

    .footer-2 {
      display: block;
    }

    .footer-links {
      margin: 0;
    }

    .footer-links2 {
      display: block;
    }

    .footer-form-content {
      width: 300px;
      top: -50px;

      text-align: center;
      left: 50%;
      transform: translateX(-50%);
    }

    .footer-input-email {
      width: 180px;
      margin-left: 20px;
    }

    .footer-email-btn {
      padding: 16.8px 32px 16.5px 32px;
    }

    .footer-3 {
      max-width: 375px;
      display: block;
      text-align: center;
    }

    .copy {
      margin-left: 20px;
    }

    .socials {
      margin: 0;
      justify-content: center;
      margin-top: 20px;
    }
  }